.button {
    box-shadow: 0px 10px 14px -7px #276873;
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color:#599bb3;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:13px;
    font-weight:bold;
    padding:10px 22px;
    margin: 10px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    height: 40px;
}
.button:hover {
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color:#408c99;
}

.button:active {
    position:relative;
    top:1px;
}

/*Switch Button*/
.switch {
    margin: 10px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* this is used to hold the statement of style-switcher */
.switch input {display:none;}

/* "Show Finished" Toggle-Slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 64px;
}

.slider.round:before {
    border-radius: 80%;
}

/* Left Side Button Styles */
.leftBtn {
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid;
    padding: 10px;
    box-shadow: 3px 5px #888888;
}

.greenBtn {
    background:linear-gradient(to bottom, #6bb38c 5%, #00990a 100%);
}

.greenBtn:hover {
    background:linear-gradient(to bottom, #00990a 5%, #6bb38c 100%);
}

.redBtn {
    background:linear-gradient(to bottom, #b39781 5%, #990016 100%);
}

.redBtn:hover {
    background:linear-gradient(to bottom, #990016 5%, #b39781 100%);
}

.blueBtn {
    background:linear-gradient(to bottom, #7c97b3 5%, #334a99 100%);
}

.blueBtn:hover {
    background:linear-gradient(to bottom, #334a99 5%, #7c97b3 100%);
}